.sidebar {
    width: 90%;
    height: 100%;
}

.toggle-btn {
    cursor: pointer;
}


.sidebar-item.open .sidebar-title .toggle-btn {
    transition: transform .3s;
}

.sidebar-item .sidebar-title .toggle-btn {
    transition: transform .3s;
}

.sidebar-title span i {
    display: inline-block;
    width: 1.5rem;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
    transform: scaleY(-1);
}

.sidebar-item.open > .sidebar-content {
    transform: scaleY(1);
}

.sidebar-content {
    padding-top: .25em;
    margin-left: 1em;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.no-decoration {
    text-decoration: none;
}