

.sidebar-layout {
  margin: 0 auto;
  max-width: 62rem;
}

.no-decoration {
  text-decoration: none !important;
}

/* -------------------------------------------------------------
------------------------ Color Styles --------------------------
----------------------------------------------------------------*/

.sonic-beige {
  background-color: #ffd78f;
}

.sonic-blue {
  background-color: #3061e3;
}

.sonic-red {
  background-color: #da2528;
}

.sonic-blue-text {
  color: #3061e3;
}

.sonic-grey-text {
  color: #252525;
}

.sonic-beige-text {
  color: #ffd78f
}

/* -------------------------------------------------------------
----------------------- Menu Bar Styles ------------------------
----------------------------------------------------------------*/

.App-sidebar {
  width: 15rem;
  height: 100vh;
  position: sticky;
  top: 0;
}

.App-sidebar-stuff {
  border-right: 1px solid #505050;
  height: 100%;
}

.App-sidebar-horizontal-line {
  width: 90%;
  height: 1px;
  background-color: #505050;
}

.social-media-icon {
  width: 30px;
  height: 30px;
  transition: opacity 0.1s linear;
}

.social-media-icon:hover {
  opacity: 50%;
  transition: opacity 0.2s linear;
}



/* -------------------------------------------------------------
----------------------- Content Styles -------------------------
----------------------------------------------------------------*/

.App-content {
  flex: 1;
  /* Other content styles */
}

.App-content-stuff {
  padding-left: 1rem;
}

.header-container {
  height: 100vh;
}

.topic-line {
  max-width: 10rem;
  height: 3px;
  margin-bottom: 1rem;
}

.sonic-card {
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
  width: 95%;
  background-color: #f19b00;
  padding: 15px 25px;
  transition: box-shadow 0.5s;
}

.sonic-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.5s;
}

.skill-pill {
  border-radius: 16px;
  padding: 4px 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  justify-content: center;
}

.circle-container {
  border-radius: 50%;
  width: 100%;
  padding: 2px;
  border: 2px solid #da2528;
}

.content-image {
  border-radius: 16px;
  border: 8px solid #f19b00;
}

.pill-button {
  border-radius: 16px;
  padding: 4px 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  transition: box-shadow 0.5s;
}

.pill-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.5s;
}

.blog-card {
  border-radius: 8px;
  background-color: #593900;
  padding: 1rem;
  transition: outline 0.1s ease-in-out;
  outline: 0px solid #000;
}

.blog-card:hover {
  outline: 4px solid #000;
  transition: outline 0.1s ease-in-out;
}